Inventory_Location/node_modules
Inventory_Location/bin
Inventory_Location/obj

InventoryInterface/bin
InventoryInterface/obj

InventoryDataService/bin
InventoryDataService/obj

InventoryContext/bin
InventoryContext/obj

InventoryModel/bin
InventoryModel/obj

Inventory_Security/bin
Inventory_Security/obj
 
