<div id="content" style="padding-top: 0px; background: #eeeeee !important;">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="height: 50px;">
            <h1 class="page-title txt-color-blueDark" data-bind="text: language.inventory[currentLanguage()] +' - '+language.excusesName[currentLanguage()]"></h1>
        </div>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- row -->
            <article class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well jarviswidget" data-widget-sortable="false" id="inventoryDocument">
                        <header data-html2canvas-ignore="true" data-bind="css: { rtlTable: language.rtl[currentLanguage()] }"></header><!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="css: { rtlTable: language.rtl[currentLanguage()] }" style="overflow-x: hidden">
                                <form class="smart-form" id="inventoryForm">
                                    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-lg-4">
                                                    <label class="label" data-bind="text: language.fromBranchName[currentLanguage()], style: { 'text-align': language.direction[currentLanguage()] }"></label>
                                                    <label class="select">
                                                        <select style="width: 100%" id="fromBranch" name="fromBranch" data-bind="value: $root.fromBranchId, options: branches, optionsText: 'name', optionsValue: 'id', optionsCaption: '', select2: { placeholder: language.fromBranchName[currentLanguage()], allowClear: true }, attr: { dir: language.dir[currentLanguage()]}"></select>
                                                    </label>
                                                </section>
                                                <section class="col col-lg-4">
                                                    <label class="label" data-bind="text: language.toBranch[currentLanguage()], style: { 'text-align': language.direction[currentLanguage()] }"></label>
                                                    <label class="select">
                                                        <select style="width: 100%" id="toBranch" name="toBranch" data-bind="value: branchId, options: branches, optionsText: 'name', optionsValue: 'id', optionsCaption: '', select2: { placeholder: language.toBranch[currentLanguage()], allowClear: true }, attr: { dir: language.dir[currentLanguage()]}"></select>
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer style="text-align:center;border:0;background-color:#FFF;">
                                            <button type="button" class="btn btn-default pull-left" id="addSiteRequestItemId" data-loading-text="Adding..." data-bind="click: addSiteRequestItem, text: language.transfer[currentLanguage()], style: { float: language.btnFloat[currentLanguage()] }"></button>
                                        </footer>
                                    </section>
                                </form>
                                <table data-bind="visible: branchId()" class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label data-bind="text: language.items[currentLanguage()], style: { 'text-align': language.direction[currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                                <label data-bind="text: $root.language.resourceCode[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                                <label data-bind="text: $root.language.quantity[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                                <label data-bind="text: $root.language.cost[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                                <label data-bind="text: $root.language.total[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                                <label data-bind="text: $root.language.Notes[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: insertedItems" class="smart-form">
                                        <tr>
                                            <td style="width: 23%; vertical-align: middle !important;">
                                                <div class="row">
                                                    <section class="col col-sm-10">
                                                        <label class="input">
                                                            <input type="text" style="width: 100%; border: none; border-radius: 10px;" id="resourceCode" name="resourceCode" data-bind="value: resourceCode, event:{ change: $parent.changeItem }, attr: { placeholder: $root.language.resourceCode[$root.currentLanguage()] }" tabindex="1" required>
                                                        </label>
                                                    </section>
                                                    <!--ko ifnot : itemId-->
                                                    <section class="col col-sm-2" style="margin-top: 5px;">
                                                        <button type="button" class="btn btn-danger" data-bind="click: $root.showItemModal">
                                                            <span class="fa fa-search" style="margin: 0; "></span>
                                                        </button>
                                                    </section>
                                                    <!--/ko-->

                                                </div>
                                            </td>
                                            <td style="width: 17%; vertical-align:middle !important;" data-bind="text: description">
                                               
                                            </td>
                                            <td style="width: 10%; vertical-align: middle !important;">
                                                <section class="col col-lg-12" style="margin-bottom: 0;">
                                                    <label class="input">
                                                        <input type="number" min="1" id="quantity" style="width: 140%; border: none; border-radius: 10px;" name="quantity" data-bind="value: quantity, valueUpdate: 'changed', attr: { placeholder: $root.language.quantity[$root.currentLanguage()] }" tabindex="2" required>
                                                    </label>
                                                </section>
                                            </td>
                                            <td style="width: 10%; vertical-align: middle !important;" data-bind="text: cost">
                                                
                                            </td>
                                            <td style="width: 8%; vertical-align: middle !important;" data-bind="text: total">
                                               
                                            </td>
                                            <td style="width: 10%; vertical-align: middle !important;">
                                                <section class="col col-lg-12" style="margin-bottom: 0;">
                                                    <label class="input">
                                                        <input type="text" class="form-control" id="reason" name="reason" data-bind="value: reason, attr: { placeholder: $root.language.Notes[$root.currentLanguage()] }" tabindex="3">
                                                    </label>
                                                </section>
                                            </td>
                                            <td style="width: 4%; vertical-align: middle !important;">
                                                <button type="button" class="btn btn-danger btn-sm" data-bind="click: function(){ $data.remove(); }">
                                                    <span class="glyphicon glyphicon-trash small" style="margin:0;"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </article>
        </article>
    </div>
</div>
<div class="modal fade" id="searchItem" tabindex="-1" role="dialog" data-bind="attr: { dir: language.dir[currentLanguage()]}" aria-labelledby="searchItem" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="style: { float: language.btnFloat[currentLanguage()] }" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 39px;">
                        <!-- ko compose: { model: 'viewmodels/penals/searchItemByBranchId', view: 'views/penals/searchItemByBranchId' } -->
                        <!-- /ko -->
                    </section>
                </fieldset>
            </div>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->
