
<nav id="verticalMenu" class="navbar navbar-default navbar-fixed-top" style="z-index: 999; position: relative !important;" data-bind="style:{'background' : isDefaultThem() ? '#131313 !important':'rgb(28, 24, 24)'}">
    <div class="container-fluid no-padding">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <div id="logo-group" class="visible-xs">
                <span id="logo">
                    <a href="#Dashboard">
                        <img style="width: 60px; height: 40px; margin-top: -10px; padding-left: 3px;" data-bind="attr: { src: (currentLanguage() === 'en') ? '/img/slogo.png' : '/img/slogo.png' }" alt="ERP" />
                    </a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="logo-group" class="hidden-xs">
                <div id="logo-group">
                    <span id="logo"><a href="#Dashboard"><img data-bind="attr: { src: (currentLanguage() === 'en') ? '/img/slogo.png' : '/img/slogo.png' }" style=" width: 105px; height: 40px; padding-left: 3px; margin-top: -10px; margin-right: 21px;" alt="ERP" src="/img/slogo.png"></a></span>
                </div>
            </div>
            <ul class="nav navbar-nav pull-right" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft" style=" margin-left: 90px; width: 5% !important;">
                <li class="dropdown hidden-xs" style=" width: 300%;">
                    <a href="javascript:;" class="dropdown-toggle profile-name" style=" padding-top: 0px !important;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="img/avatars/male.png" style="width: 28px; height: 28px;" class="img-circle" alt="Avatar">
                        <!-- ko text: contactName --><!-- /ko -->
                    </a>

                    <ul class="dropdown-menu"> 
                        <li>
                            <a href="#" data-bind="click: userLogout">
                                <!-- ko text: language.logout[currentLanguage()] -->
                                <!-- /ko -->
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="visible-xs mobile-menu"><a href="#userInfo" data-bind="text: language.userInfo[currentLanguage()]"></a></li>
                <li class="visible-xs mobile-menu"><a href="javaScript:void(0);" data-bind="click: userLogout"><!-- ko text: language.logout[currentLanguage()] --><!-- /ko --></a></li>
            </ul>
        </div>
    </div>
</nav>

<aside id="left-panel" class="hidden-print clearfix" data-bind="style: { 'background' : isDefaultThem()? 'ivory': 'rgb(193, 193, 193) !important'}">
    <!-- User info -->
    <div class="login-info hidden">
        <span>
            <a href="javaScript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="img/avatars/sunny.png" alt="me" class="online" />
                <span>
                    Inventory
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <!-- end user info -->
    <nav style="font-family: fantasy;">
        <ul>
            <li>
                <a href="javaScript:void(0);" data-bind="visible: viewBasicPermissions()">
                    <i class="fa fa-lg fa-fw fa-wrench"></i>
                    <span class="menu-item-parent" data-bind="text: 'البيانات الاساسية'"></span>
                </a>
                <ul data-bind="foreach: router.navigationModel">
                    <!-- ko if: !!($data.settings) && !!(settings.admin) -->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);" data-bind="visible: viewSecurityPermissions()">
                    <i class="fa fa-lg fa-fw fa-briefcase"></i>
                    <span class="menu-item-parent" data-bind="text: 'الصلاحيات والحماية'"></span>
                </a>
                <ul>
                    <!-- ko foreach: router.navigationModel -->
                    <!-- ko if: !!($data.settings) && !!(settings.security) && (!!(settings.isCashier) || !!(settings.basicFeatures)) -->
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);" data-bind="visible: viewIneventoryPermissions()">
                    <i class="fa fa-bitbucket"></i>
                    <span class="menu-item-parent" data-bind="text: 'المخازن'"></span>
                </a>
                <ul>
                    <!-- ko foreach: router.navigationModel -->
                    <!-- ko if: !!($data.settings) && !!(settings.Inventory) && (!!(settings.isInventory) || !!(settings.basicFeatures)) -->
                    <!--ko if : !!(settings.isInventory)  -->
                    <li data-bind="css: { active: isActive },visible: ($root.isInventory)">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <!--ko if : !!(settings.basicFeatures) -->
                    <li data-bind="css: { active: isActive },visible: ($root.basicFeatures )">
                        <a data-bind="attr: { href: hash }">
                            <span data-bind="text: title"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </li> 
        
            <li>
                <a href="#reportsMenu" data-bind="visible: viewreportPermissions()">
                    <i class="fa fa-lg fa-fw fa-pie-chart"></i>
                    <span class="menu-item-parent" data-bind="text: 'التقارير'"></span>
                </a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>

<div id="main" class="no-margin-print " role="main">
    <div style="text-align: center;" class="page-transition-loader" data-bind="visible: startLoader"><img src="/Images/712.gif"></div>
    <div class="row" data-part="content-menu" id="content-menu" style="text-align: center;" data-bind="visible: !startLoader() ">
    </div>
    <div data-bind="visible: !startLoader()">
        <!-- ko router: { cacheViews: false } -->
        <!-- /ko -->
    </div>
</div>
