<div id="content">

    <div class="fixed-action-btn" data-toggle="tooltip" data-placement="left" data-bind="click: addDefaultList , visible:visibleAdd()">
        <a class="btn-floating btn-large waves-effect red">
            <i class="mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well jarviswidget no-padding" data-widget-sortable="false" id="wid-id-0">
                        <header data-bind="attr: { dir: language.dir[currentLanguage()]}"></header><!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="attr: { dir: language.dir[currentLanguage()]}">
                                <div class="row page-header-row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span class="page-header-text" style="font-family: Lato; color: rgb(37, 128, 247);" data-bind="text: title"></span>
                                    </article>
                                </div>
                                <form class="smart-form" id="vacationBalanceForm" data-bind=" attr: { dir: language.dir[currentLanguage()]}" novalidate="novalidate">
                                    <fieldset>
                                        <section>
                                            <label class="label" data-bind="text: language.listType[$root.currentLanguage()], style: { 'text-align': language.direction[currentLanguage()] }"></label>
                                            <label class="select">
                                                <select id="status" style="width: 100%;" name="status" data-bind="value: listType, select2: { placeholder: language.selectStatus[currentLanguage()], allowClear: true }, attr: { dir: language.dir[currentLanguage()]}" required>
                                                    <option data-bind="text: language.selectSListType[currentLanguage()]"></option>
                                                    <option value="itemTransactionType" data-bind="text: 'انواع حركات الصنف'"></option>
                                                </select>
                                            </label>
                                        </section>
                                    </fieldset>
                                </form>

                                <table id="table-1" class="table table-striped table-bordered table-hover" data-bind="koTable: { pageSize: 10, showSearch: true, initialSortProperty: 'title', initialSortDirection: 'desc', showDeleteButton: false}">
                                    <thead>
                                        <tr>
                                            <th style="width:15%;">حذف </th>
                                            <th style="width:85%" data-sort-property="title" data-bind="text: language.title[currentLanguage()]"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: koTable.pagedItems">
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0);" class="pull-right" data-bind="click: $root.deleteBranch">
                                                    <i style="font-size: 1.6em; margin-right: 5px;" class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                            <td><span data-bind="text: title"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- end widget content -->
                            <div class="modal fade" id="ViewModalList" tabindex="-1" role="dialog" aria-labelledby="ViewModalList" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-bind=" style: { float: $root.language.btnFloat[$root.currentLanguage()] }" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4 class="modal-title" data-bind=" visible: !changeStatus() , text: $root.language.add[$root.currentLanguage()] "></h4>
                                            <h4 class="modal-title" data-bind="visible: changeStatus() , text: $root.language.edit[$root.currentLanguage()]"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="smart-form" id="eformabsence">
                                                <fieldset data-bind="with: hrTypeDto ">
                                                    <div class="row">
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.titleEn[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="titleEn" data-bind="value: titleEn, attr: { placeholder: $root.language.titleEn[$root.currentLanguage()] }" required>
                                                            </label>
                                                        </section>
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.titleAr[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="titleAr" data-bind="value: titleAr, attr: { placeholder: $root.language.titleAr[$root.currentLanguage()] }" required>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <section>
                                                        <label class="label" data-bind="text:$root.language.Notes[$root.currentLanguage()]"></label>
                                                        <label class="textarea">
                                                            <textarea rows="5" type="text" name="notes" id="Notes" data-bind="value: notes" required></textarea>
                                                        </label>
                                                    </section>
                                                </fieldset>

                                            </form>


                                        </div>
                                        <div class="modal-footer" style="text-align:center; border:0px;">
                                            <button type="button" class="btn btn-primary" id="addRow" data-loading-text="<img src='/img/712.gif' style='width: 30px; height: 30px; margin: 0 auto;' />"data-bind="click: $root.addHrTypeRowItem , visible: !changeStatus(), text: $root.language.add[$root.currentLanguage()] "></button>
                                            <button type="button" class="btn btn-primary" id="editRow" data-loading-text="<img src='/img/712.gif' style='width: 30px; height: 30px; margin: 0 auto;' />"data-bind="click: $root.editHrTypeRowItem, visible: changeStatus(), text: $root.language.edit[$root.currentLanguage()] "></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end widget div -->
                    </div><!-- end widget -->
                </article>
            </div>
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->
