<div id="content" style="padding-top: 0px; background: #eeeeee !important;">
    <div class="fixed-action-btn" data-toggle="tooltip" data-placement="right" data-bind="attr: { title: language.addNew[currentLanguage()] }, click: add">
        <a class="btn-floating btn-large waves-effect red">
            <i class="mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="height: 50px;">
            <h1 class="page-title txt-color-blueDark" data-bind="text: language.personal[currentLanguage()] + ' - ' + language.agents[currentLanguage()]"></h1>
        </div>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well jarviswidget no-padding" data-widget-sortable="false" id="wid-id-0">
                        <header data-bind="css: { rtlTable: language.rtl[currentLanguage()] }"></header><!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="css: { rtlTable: language.rtl[currentLanguage()] }" style="overflow-x: hidden">
                                <div class="row page-header-row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button class="btn btn-default btn-xs pull-left dropdown-toggle" id="exportDropdownMenu" data-toggle="dropdown">
                                            <i class="fa fa-gear fa-2x"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" style="right: 15px;" role="menu" aria-labelledby="exportDropdownMenu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToExcel" href="javascript:void(0);">Excel</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToWord" href="javascript:void(0);">Word</a>
                                            </li>
                                        </ul>
                                    </article>
                                </div>

                                <hr />

                                <table id="agents-table" class="table table-striped table-bordered table-hover" data-bind="koTable: { pageSize: 10, showSearch: true, initialSortProperty: 'name', initialSortDirection: 'desc', showDeleteButton: true }">
                                    <thead>
                                        <tr>
                                            <th data-sort-property="contactName" data-bind="text: language.agantName[currentLanguage()]"></th>
                                            <th data-sort-property="code" data-bind="text: language.referenceCode[currentLanguage()]"></th>
                                            <th data-sort-property="address" data-bind="text: language.Address[currentLanguage()]"></th>
                                            <th data-sort-property="phone" data-bind="text: language.Telephone[currentLanguage()]"></th>
                                            <th data-sort-property="email" data-bind="text: language.email[currentLanguage()]"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: koTable.pagedItems">
                                        <tr>
                                            <td><span data-bind="text: contactName"></span></td>
                                            <td><span data-bind="text: code"></span></td>
                                            <td><span data-bind="text: address"></span></td>
                                            <td><span data-bind="text: phone"></span></td>
                                            <td><span data-bind="text: email"></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="addArea" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×
                                                </button>
                                                <h4 class="modal-title" data-bind="visible: changeStatus()">المندوبين</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="smart-form" id="EPSFormTree" novalidate="novalidate">
                                                    <fieldset data-bind="with: account">
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: $root.language.agantName[$root.currentLanguage()]"></label>
                                                                <label class="input">
                                                                    <input type="text" class="form-control" id="ContactName" name="ContactName" data-bind="value: contactName, valueUpdate: 'changeAgentName',attr:{ placeholder: $root.language.ContactName[$root.currentLanguage()]}" tabindex="1" required>
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text:$root.language.referenceCode[$root.currentLanguage()]"></label>
                                                                <label class="input">
                                                                    <input type="text" class="form-control" id="code" name="code" data-bind="value: code, valueUpdate: 'changeRefCode'" placeholder=" code..." tabindex="2">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text:$root.language.Address[$root.currentLanguage()]"></label>
                                                                <label class="input">
                                                                    <input type="text" class="form-control" id="Address" name="Address" data-bind="value: address" placeholder="Address..." tabindex="3" required>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text:$root.language.Telephone[$root.currentLanguage()]"></label>
                                                                <label class="input">
                                                                    <input type="text" class="form-control" id="Phone" name="Phone" data-bind="value: phone" placeholder="Phone..." tabindex="4" required>
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text:$root.language.email[$root.currentLanguage()]"></label>
                                                                <label class="input">
                                                                    <input type="text" class="form-control" id="Email" name="Email" data-bind="value: email" placeholder="Contact Name..." tabindex="5" required>
                                                                </label>
                                                            </section>
                                                        </div>

                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-loading-text="Saving..." id="saveArea" data-bind="click: addAccount, text: language.save[currentLanguage()], style: { float: language.btnFloat[currentLanguage()] }" tabindex="6"></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- end widget div -->
                        </div><!-- end widget -->
                    </div>
                </article><!-- GRID END -->
            </div><!-- end row -->
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->
