<div id="content" style="padding-top: 0px; background: #eeeeee !important;">
  
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="height: 50px;">
            <h1 class="page-title txt-color-blueDark" data-bind="text: language.itemDescription[currentLanguage()]"></h1>
        </div>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-sortable="false" id="wid-id-0">
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="css: { rtlTable: language.rtl[currentLanguage()] }">
                                <div class="row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button class="btn btn-default btn-xs pull-right dropdown-toggle" id="exportDropdownMenu" data-bind="css: language.pullRight[currentLanguage()]" data-toggle="dropdown">
                                            <i class="fa fa-gear fa-2x"></i>
                                        </button>
                                        <ul class="dropdown-menu" data-bind="css: language.pullRight[currentLanguage()], attr: { dir: language.dir[currentLanguage()]}, style: { 'language[dir][currentLanguage()]':'15px;'}" role="menu" aria-labelledby="exportDropdownMenu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToExcel" href="javascript:void(0);">Excel</a>
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                                <hr />
                                <div class="row">
                                    <form class="smart-form" id="itemAddForm" tabindex="-1" novalidate="novalidate">
                                        <fieldset data-bind="with: item">
                                            <div class="row">
                                                <section class="col col-sm-3">
                                                    <label class="label" data-bind="text:$root.language.referenceCode[$root.currentLanguage()]"></label>
                                                    <label class="input">
                                                        <input type="text" name="code" id="code" class="TabOnEnter" data-bind="value: code, valueUpdate: 'changeRefCode',attr: { placeholder: $root.language.referenceCode[$root.currentLanguage()] }" tabindex="1" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-5">
                                                    <label class="label" data-bind="text:$root.language.description[$root.currentLanguage()]"></label>
                                                    <label class="input">
                                                        <input type="text" name="name" id="name" class="TabOnEnter" data-bind="value: subject, attr: { placeholder: $root.language.description[$root.currentLanguage()] }" tabindex="2" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-2">
                                                    <label class="label" data-bind="text:$root.language.cost[$root.currentLanguage()]"></label>
                                                    <label class="input">
                                                        <input type="text" name="cost" id="cost" class="TabOnEnter" data-bind="value: cost,attr: { placeholder: $root.language.cost[$root.currentLanguage()] }" tabindex="3" />
                                                    </label>
                                                </section>
                                                <section class="col col-sm-2">
                                                    <label class="label" data-bind="text:$root.language.alertDays[$root.currentLanguage()]"></label>
                                                    <label class="input">
                                                        <input type="text" name="alertDays" id="alertDays" class="TabOnEnter" data-bind="value: alertDays,attr: { placeholder: $root.language.alertDays[$root.currentLanguage()] }" tabindex="3" />
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer style="text-align:center;border:0;background-color:#fff;">
                                            <button type="button" class="btn btn-primary TabOnEnter pull-left" style="margin-left: 5px;" id="addItem" data-bind="click: addItem, text: language.add[currentLanguage()]" data-loading-text="<img src='/img/712.gif' style='width: 30px; height: 30px; margin: 0 auto;' />"></button>
                                        </footer>
                                    </form>
                                </div>

                                <button type="button" class="btn btn-default" id="loadMore" data-bind="click: loadMore, style: { float: $root.language.btnFloat[$root.currentLanguage()],'border-radius': '15px' }">
                                    <i class="fa fa-download"></i>
                                </button>

                                <button type="button" class="btn btn-default" id="assignToItem" data-bind="visible: $root.selectedRows().length>0 ,click: assignToItem, style: { float: $root.language.btnFloat[$root.currentLanguage()],'border-radius': '15px' }">
                                    <i class="fa fa-backward"></i>
                                </button>
                                <table id="card-descriptionTransfer-table" class="table table-striped table-bordered table-hover" data-bind="koTable: { pageSize: 20, showSearch: true, initialSortProperty: 'name', initialSortDirection: 'desc', showDeleteButton: showDelete() }">
                                    <thead>
                                        <tr>
                                            <th> Actions</th>
                                            <th data-sort-property="subject" data-bind="text: language.name[currentLanguage()]"></th>
                                            <th data-sort-property="code" data-bind="text: language.referenceCode[currentLanguage()]"></th>
                                            <th data-sort-property="cost" data-bind="text: language.cost[currentLanguage()]"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: koTable.pagedItems">
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="isSelected" id="isSelected" data-bind="checkedValue: id, checked: $root.selectedRows" />
                                            </td>
                                            <td><span data-bind="text: subject"></span></td>
                                            <td><span data-bind="text: code"></span></td>
                                            <td><span data-bind="text: cost"></span></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="modal fade" id="assignToLocationModalList" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="assignToLocationModalList" style="display:none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style=" padding: 2px !important;">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="style: {float: $root.language.btnFloat[$root.currentLanguage()] }">
                                                x
                                            </button>
                                            <h4 class="modal-title" data-bind=" text: $root.language.assignToLocation[$root.currentLanguage()]"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="smart-form" id="itemEditForm" novalidate="novalidate" style=" margin: -20px !important;">
                                                <fieldset data-bind="with: itemEdit">
                                                    <div class="row">

                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text: $root.language.location[$root.currentLanguage()]"></label>
                                                            <label class="select">
                                                                <select id="locationId" name="locationId" style="width: 100%;" data-bind="value: $root.locationId, options: $root.locations, optionsText: 'description', optionsValue: 'id', optionsCaption: '', select2: { placeholder: $root.language.location[$parent.currentLanguage()], allowClear: true }"></select>
                                                            </label>
                                                        </section>
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text: $root.language.type[$root.currentLanguage()]"></label>
                                                            <label class="select">
                                                                <select id="transactionTypesId" name="transactionTypesId" style="width: 100%;" data-bind="value: $root.transactionTypesId, options: $root.transactionTypes, optionsText: 'title', optionsValue: 'id', optionsCaption: '', select2: { placeholder: $root.language.typeSelect[$parent.currentLanguage()], allowClear: true }"></select>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>

                                                <footer>
                                                    <button type="button" class="btn btn-primary TabOnEnter pull-left" style="margin-left: 5px;" id="editRow" data-bind="click: saveAssignToLocation, text: language.edit[currentLanguage()]" data-loading-text="<img src='/img/712.gif' style='width: 30px; height: 30px; margin: 0 auto;' />"></button>

                                                </footer>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      

 
                        </div><!-- end widget div -->
                    </div><!-- end widget -->
                </article>
            </div>
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->