<div id="content" style="padding-top: 0px; background: #eeeeee !important;">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="height: 50px;">
            <h1 class="page-title txt-color-blueDark" data-bind="text: language.accounts[currentLanguage()] + ' - ' + title"></h1>
        </div>
    </div>

    <div class="jarviswidget" data-widget-sortable="false" data-widget-editbutton="false">
        <div>
            <!-- widget content -->
            <div class="widget-body" style="overflow-x: hidden">
                <ul class="nav nav-tabs" id="permissionsGroupsPermissionsPillNav">
                    <li class="active">
                        <a href="#userPermissions" data-toggle="tab" data-bind="text: language.userPermissions[currentLanguage()]"></a>
                    </li>
                </ul>

                <hr />

                <div class="tab-content padding-10">
                    <div class="tab-pane active" id="userPermissions">
                        <div class="row">
                            <section class="col-xs-4">
                                <select style="width: 100%" id="userPermissionsDocumentsDropDown" data-bind="event:{ change: permissionModulesSelectChanged }, attr:{ placeholder: $root.language.docTypeRequired[$root.currentLanguage()]}" tabindex=" -1">
                                    <option></option>
                                    <!-- ko foreach: permissions -->
                                    <optgroup data-bind="attr: { 'label': title[$root.currentLanguage()] }, foreach: modules" label="-">
                                        <option data-bind="text: title[$root.currentLanguage()], value: id"></option>
                                    </optgroup>
                                    <!-- /ko -->
                                </select>
                            </section>
                            <section class="col-xs-8">
                                <select name="userPermissionsPermissionsDropDown" multiple style="width: 100%" id="userPermissionsPermissionsDropDown" data-bind="attr:{ placeholder: $root.language.choosePermissions[$root.currentLanguage()]}" tabindex="-1">
                                    <option></option>
                                    <!-- ko foreach: selectedDocumentPermissions -->
                                    <option data-bind="text: title[$root.currentLanguage()], value: code"></option>
                                    <!-- /ko -->
                                </select>
                            </section>
                        </div>
                        <hr />
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-default" data-loading-text="Saving..." data-bind="click: saveUserPermissions, text: language.save[currentLanguage()], visible: selectedDocumentPermissions().length > 0"></button>
                        </div>
                    </div>
                     
                </div>
            </div><!-- end widget content -->
        </div><!-- end widget div -->
    </div>
</div>