<div id="content" style="padding-top: 0px; background: #eeeeee !important;">
    <div class="fixed-action-btn" data-toggle="tooltip" data-placement="right" data-bind="attr: { title: language.add[currentLanguage()] }, click: add">
        <a class="btn-floating btn-large waves-effect red">
            <i class="mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="height: 50px;">
            <h1 class="page-title txt-color-blueDark" data-bind="text:  language.suppliers[currentLanguage()]"></h1>
        </div>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-sortable="false" id="wid-id-0">
                         
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="attr: { dir: language.dir[currentLanguage()]}">
                                <div class="row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button class="btn btn-default btn-xs dropdown-toggle" id="exportDropdownMenu" data-bind="css: language.pullRight[currentLanguage()]" data-toggle="dropdown">
                                            <i class="fa fa-gear fa-2x"></i>
                                        </button>
                                        <ul class="dropdown-menu" data-bind="css: language.pullRight[currentLanguage()], attr: { dir: language.dir[currentLanguage()]}, style: { 'language[dir][currentLanguage()]':'15px;'}" role="menu" aria-labelledby="exportDropdownMenu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToExcel" href="javascript:void(0);">Excel</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToWord" href="javascript:void(0);">Word</a>
                                            </li>
                                        </ul>
                                    </article>
                                </div>

                                <hr />

                                <table id="table-1" class="table table-striped table-bordered table-hover" data-bind="koTable: { pageSize: 10, showSearch: true, initialSortProperty: 'name', initialSortDirection: 'desc', showDeleteButton: showDelete() }">
                                    <thead>
                                        <tr>
                                            <th data-sort-property="name" data-bind="text: language.supplierName[currentLanguage()]"></th>
                                            <th data-sort-property="code" data-bind="text: language.referenceCode[currentLanguage()]"></th>
                                            <th data-sort-property="address" data-bind="text: language.Address[currentLanguage()]"></th>
                                            <th data-sort-property="phone" data-bind="text: language.Telephone[currentLanguage()]"></th>
                                            <th data-sort-property="email" data-bind="text: language.email[currentLanguage()]"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: koTable.pagedItems">
                                        <tr>
                                            <td><span data-bind="text: name"></span></td>
                                            <td><span data-bind="text: code"></span></td>
                                            <td><span data-bind="text: address"></span></td>
                                            <td><span data-bind="text: phone"></span></td>
                                            <td><span data-bind="text: email"></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div><!-- end widget content -->

                            <div class="modal  fade" id="ViewModalList" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="ViewModalList" style="display:none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="style: {float: $root.language.btnFloat[$root.currentLanguage()] }">
                                                x
                                            </button>
                                            <h4 class="modal-title" data-bind="visible: !changeStatus(), text: $root.language.add[$root.currentLanguage()]"></h4>
                                            <h4 class="modal-title" data-bind="visible: changeStatus(), text: $root.language.edit[$root.currentLanguage()]"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="smart-form" id="supplierForm" novalidate="novalidate">
                                                <fieldset data-bind="with: supplier">
                                                    <section>
                                                        <label class="label" data-bind="text:$root.language.referenceCode[$root.currentLanguage()]"></label>
                                                        <label class="input">
                                                            <input type="text" name="code" id="code" data-bind="value: code, valueUpdate: 'changeRefCode', attr: { placeholder: $root.language.referenceCode[$root.currentLanguage()] }" tabindex="1" />
                                                        </label>
                                                    </section>
                                                    <div class="row">
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.supplierName[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="name" id="name" data-bind="value: name, valueUpdate: 'changeSupplierName', attr: { placeholder: $root.language.customerName[$root.currentLanguage()] }" tabindex="2" />
                                                            </label>
                                                        </section>
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.Address[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="address" id="address" data-bind="value: address, attr: { placeholder: $root.language.Address[$root.currentLanguage()] }" tabindex="3" />
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.email[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="email" id="email" data-bind="value: email, attr: { placeholder: $root.language.email[$root.currentLanguage()] }" tabindex="4" />
                                                            </label>
                                                        </section>
                                                        <section class="col col-6">
                                                            <label class="label" data-bind="text:$root.language.Telephone[$root.currentLanguage()]"></label>
                                                            <label class="input">
                                                                <input type="text" name="phone" id="phone" data-bind="value: phone, attr: { placeholder: $root.language.Telephone[$root.currentLanguage()] }" tabindex="5" />
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-lg-6">
                                                            <label class="label" data-bind="text: $root.language.category[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                                            <label class="select">
                                                                <select style="width: 100%;" multiple id="categories" name="categories" data-bind="options: $root.categories, optionsText: 'name', optionsValue: 'id', selectedOptions: selectedCategory, optionsCaption: '', select2: { placeholder: $root.language.category[$parent.currentLanguage()], allowClear: true }" tabindex="6"></select>
                                                            </label>
                                                        </section>
                                                        <section class="col col-lg-6">
                                                            <label class="label" data-bind="text: $root.language.ccContact[$root.currentLanguage()], style: { 'text-align': $root.language.direction[$root.currentLanguage()] }"></label>
                                                            <label class="select">
                                                                <select style="width: 100%;" multiple id="agents" name="agents" data-bind="options: $root.agents, optionsText: 'contactName', optionsValue: 'id', selectedOptions: selectedAgents, optionsCaption: '', select2: { placeholder: $root.language.selectContact[$parent.currentLanguage()], allowClear: true }" tabindex="6"></select>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                                
                                            </form>
                                        </div>
                                        <div class="modal-footer" style="text-align:center;border:0;">
                                            <button type="button" class="btn btn-default" id="addRow" data-loading-text="Saving..." data-bind="click: $root.addSupplier , visible: !changeStatus(), text: $root.language.add[$root.currentLanguage()], style: { float: $root.language.btnFloat[$root.currentLanguage()] }" tabindex="7"></button>
                                            <button type="button" class="btn btn-default" id="editRow" data-loading-text="Saving..." data-bind="click: $root.editSupplier, visible: changeStatus(), text: $root.language.edit[$root.currentLanguage()], style: { float: $root.language.btnFloat[$root.currentLanguage()] }" tabindex="7"></button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- end widget div -->
                    </div><!-- end widget -->
                </article>
            </div>
        </section>
    </div>
</div>
<!-- END MAIN CONTENT -->