 
        <div id="content" style="padding-top: 0px; background: #eeeeee !important;">
            <h1 class="page-header" data-bind="text: documentTitle"></h1>

            <div>
                <!-- ko if: itemsTable().length -->
                <hr style="margin-bottom: 5px;" />

                <table style="margin-right: 1px; table-layout: fixed;" class="table" id="printTable">
                    <thead style="display: table-row-group;" data-bind="with: itemsColumnDefenition">
                        <tr class="blue-header" data-bind="foreach: friendlyNames">
                            <th data-bind="style: { width: $parent.widths[$index()] }">
                                <div class="table-header-text-ellipses" data-bind="text: $data, css: { 'rtl-table-header': true }"></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody style="display: table-row-group;" data-bind="foreach: itemsTable">
                        <tr data-bind="foreach: $parent.itemsColumnDefenition().fields">
                            <td data-bind="text: $parent[$data]"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /ko -->

            </div>
        </div>
 